<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.FMEA.fmeimanager">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.FMEA.fmeimanager.EndDialogActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <activity
            android:name="com.FMEA.fmeimanager.controllers.navigationPackageC.WriteFromSettingsActivity"
            android:label="@string/Process_builder_button_write_title"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name="com.FMEA.fmeimanager.controllers.navigationPackageC.PhotoLogoActivity" />
        <activity android:name="com.FMEA.fmeimanager.controllers.navigationPackageG.PhotoProfileActivity" />
        <activity
            android:name="com.FMEA.fmeimanager.controllers.navigationPackageG.WriteFromProfileActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name="com.FMEA.fmeimanager.controllers.navigationPackageA.correctiveActionTheme.PhotoCorrectiveActivity" />
        <activity android:name="com.FMEA.fmeimanager.controllers.navigationPackageA.riskTheme.RiskPhotoViewPagerActivity" />
        <activity android:name="com.FMEA.fmeimanager.controllers.navigationPackageA.riskTheme.PhotoRiskActivity" />
        <activity android:name="com.FMEA.fmeimanager.controllers.navigationPackageA.riskTheme.RiskManagerChoiceActivity" />
        <activity android:name="com.FMEA.fmeimanager.controllers.navigationPackageA.riskTheme.IntKeyboardActivity" />
        <activity
            android:name="com.FMEA.fmeimanager.controllers.navigationPackageA.processusTheme.WriteFromProcessusBuilderActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="com.FMEA.fmeimanager.controllers.navigationPackageA.processusTheme.ProcessusBuilderActivity"
            android:label="@string/Process_builder_title"
            android:parentActivityName="com.FMEA.fmeimanager.controllers.navigationPackageA.processusTheme.ProcessDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.FMEA.fmeimanager.controllers.navigationPackageA.processusTheme.ProcessDashboardActivity" />
        </activity>
        <activity
            android:name="com.FMEA.fmeimanager.controllers.navigationPackageA.processusTheme.InsertRiskViewPagerActivity" />
        <activity
            android:name="com.FMEA.fmeimanager.controllers.navigationPackageE.AboutActivity"
            android:label="@string/About_title"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <activity
            android:name="com.FMEA.fmeimanager.controllers.navigationPackageD.HelpActivity"
            android:label="@string/Help_title" />
        <activity
            android:name="com.FMEA.fmeimanager.controllers.navigationPackageC.SettingsActivity"
            android:label="@string/Settings_title" />
        <activity
            android:name="com.FMEA.fmeimanager.controllers.navigationPackageB.ExportDatasActivity"
            android:label="@string/Export_datas_title" />
        <activity
            android:name="com.FMEA.fmeimanager.controllers.navigationPackageG.ProfileActivity"
            android:label="@string/profile_title"
            android:parentActivityName="com.FMEA.fmeimanager.controllers.navigationPackageG.ProfileSectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.FMEA.fmeimanager.controllers.navigationPackageG.ProfileSectionActivity" />
        </activity>
        <activity
            android:name="com.FMEA.fmeimanager.controllers.navigationPackageG.ProfileSectionActivity"
            android:label="@string/profile_section_title" />
        <activity
            android:name="com.FMEA.fmeimanager.controllers.navigationPackageF.TeamFmeiBuilderActivity"
            android:label="@string/team_fmei_builder_title"
            android:parentActivityName="com.FMEA.fmeimanager.controllers.navigationPackageF.TeamFmeiDashBoardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.FMEA.fmeimanager.controllers.navigationPackageF.TeamFmeiDashBoardActivity" />
        </activity>
        <activity
            android:name="com.FMEA.fmeimanager.controllers.navigationPackageF.TeamFmeiDashBoardActivity"
            android:label="@string/team_fmei_dashboard_title" />
        <activity
            android:name="com.FMEA.fmeimanager.controllers.navigationPackageA.correctiveActionTheme.CorrectiveActionFileActivity"
            android:label="@string/Risk_file_corrective_action_title"
            android:parentActivityName="com.FMEA.fmeimanager.controllers.navigationPackageA.processusTheme.ProcessDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.FMEA.fmeimanager.controllers.navigationPackageA.processusTheme.ProcessDashboardActivity" />
        </activity>
        <activity
            android:name="com.FMEA.fmeimanager.controllers.navigationPackageA.riskTheme.RiskFileActivity"
            android:label="@string/Risk_file_description_title"
            android:parentActivityName="com.FMEA.fmeimanager.controllers.navigationPackageA.processusTheme.ProcessDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.FMEA.fmeimanager.controllers.navigationPackageA.processusTheme.ProcessDashboardActivity" />
        </activity>
        <activity
            android:name="com.FMEA.fmeimanager.controllers.navigationPackageA.processusTheme.ProcessDashboardActivity"
            android:label="@string/Process_dashboard_title"
            android:parentActivityName="com.FMEA.fmeimanager.controllers.navigationPackageA.fmeiTheme.FmeiDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.FMEA.fmeimanager.controllers.navigationPackageA.fmeiTheme.FmeiDashboardActivity" />
        </activity>
        <activity
            android:name="com.FMEA.fmeimanager.controllers.navigationPackageA.fmeiTheme.FmeiDashboardActivity"
            android:label="@string/Fmei_dashboard_title" >
        </activity>
        <activity android:name="com.FMEA.fmeimanager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.FMEA.fmeimanager"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>